<form [formGroup]="form" (submit)="save()">
  <div class="example-container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Cambiar Clave</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-grid">
          <div class="field-col-4"></div>
          <div class="field-col-4">
            <fieldset>
              <legend>Datos Generales</legend>

              <mat-form-field appearance="fill" class="field-col-12">
                <mat-label>Contraseña anterior</mat-label>
                <input
                  [type]="hidePasswordActual ? 'password' : 'text'"
                  matInput
                  formControlName="passwordActual"
                  maxlength="50"
                />
                <button
                  mat-icon-button
                  matSuffix
                  tabindex="-1"
                  (click)="togglePasswordActualVisibility($event)"
                  type="button"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePasswordActual"
                >
                  <mat-icon>{{
                    hidePasswordActual ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="fill" class="field-col-12">
                <mat-label>Contraseña nueva</mat-label>
                <input
                  [type]="hidePasswordNuevo ? 'password' : 'text'"
                  matInput
                  formControlName="passwordNuevo"
                  maxlength="50"
                />
                <button
                  mat-icon-button
                  matSuffix
                  tabindex="-1"
                  (click)="togglePasswordNuevoVisibility($event)"
                  type="button"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePasswordNuevo"
                >
                  <mat-icon>{{
                    hidePasswordNuevo ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <!-- <mat-error
                  *ngIf="form.get('passwordNuevo')?.hasError('weakPassword')"
                >
                  La contraseña debe contener al menos una mayúscula, una
                  minúscula, un número y un carácter especial.
                </mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="fill" class="field-col-12">
                <mat-label>Repetir contraseña nueva</mat-label>
                <input
                  [type]="hidePasswordConfirmar ? 'password' : 'text'"
                  matInput
                  formControlName="passwordConfirmar"
                  maxlength="50"
                />
                <button
                  mat-icon-button
                  matSuffix
                  tabindex="-1"
                  (click)="togglePasswordConfirmarVisibility($event)"
                  type="button"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePasswordConfirmar"
                >
                  <mat-icon>{{
                    hidePasswordConfirmar ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <mat-error
                *ngIf="form.get('passwordNuevo')?.hasError('weakPassword')"
                >• La contraseña debe tener entre 8 y 50 caracteres, incluir al
                menos una mayúscula, una minúscula, un número y un carácter
                especial.
              </mat-error>
              <mat-error *ngIf="form.hasError('passwordsMismatch')"
                >• Las contraseñas no coinciden.
              </mat-error>
            </fieldset>
          </div>
          <div class="field-col-4"></div>
        </div>
        <div style="text-align: center; margin-top: 10px">
          <button
            mat-button
            mat-raised-button
            tabindex="-1"
            type="button"
            color="primary"
            matTooltip="Cancelar registro."
            style="margin-right: 15px"
            (click)="cancel()"
          >
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
          <button
            mat-button
            mat-raised-button
            type="submit"
            color="warn"
            matTooltip="Guardar registro."
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>

<!-- <form [formGroup]="form" (submit)="save()">
    <div class="example-container">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Cambiar Clave</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="form-grid">
            <div class="field-col-4"></div>
            <div class="field-col-4">
              <fieldset>
                <legend>Datos Generales</legend>
                <mat-form-field appearance="fill" class="field-col-12">
                  <mat-label>Contraseña anterior</mat-label>
                  <input
                    [type]="hidePasswordActual ? 'password' : 'text'"
                    matInput
                    formControlName="passwordActual"
                    maxlength="50"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    tabindex="-1"
                    (click)="togglePasswordActualVisibility($event)"
                    type="button"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePasswordActual"
                  >
                    <mat-icon>{{
                      hidePasswordActual ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field appearance="fill" class="field-col-12">
                  <mat-label>Contraseña nueva</mat-label>
                  <input
                    [type]="hidePasswordNuevo ? 'password' : 'text'"
                    matInput
                    formControlName="passwordNuevo"
                    maxlength="50"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    tabindex="-1"
                    (click)="togglePasswordNuevoVisibility($event)"
                    type="button"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePasswordNuevo"
                  >
                    <mat-icon>{{
                      hidePasswordNuevo ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field appearance="fill" class="field-col-12">
                  <mat-label>Repetir contraseña nueva</mat-label>
                  <input
                    [type]="hidePasswordConfirmar ? 'password' : 'text'"
                    matInput
                    formControlName="passwordConfirmar"
                    maxlength="50"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    tabindex="-1"
                    (click)="togglePasswordConfirmarVisibility($event)"
                    type="button"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePasswordConfirmar"
                  >
                    <mat-icon>{{
                      hidePasswordConfirmar ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="field-col-4"></div>
          </div>
          <div style="text-align: center; margin-top: 10px">
            <button
              mat-button
              mat-raised-button
              tabindex="-1"
              type="button"
              color="primary"
              matTooltip="Cancelar registro."
              style="margin-right: 15px"
              (click)="cancel()"
            >
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>
            <button
              mat-button
              mat-raised-button
              type="submit"
              color="warn"
              matTooltip="Guardar registro."
            >
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
   -->
