<div class="small-table" *ngIf="existsProcessPending">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Proceso Pendiente!</mat-card-title>
      <mat-card-subtitle>
        Actualmente existe un proceso pendiente en ejecución, si desea puede ir
        a procesos para poder consultarlo.
        <code
          ><a routerLink="/ver-proceso" style="text-decoration: underline"
            >Ir a Ver Proceso</a
          >
        </code>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="small-table" *ngIf="!existsProcessPending">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Generar Proceso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Etapa: Carga de Turnos</ng-template>
            <div class="form-grid">
              <div class="file-upload-container field-col-9">
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="fileInputSecondCtrl.click()"
                  matTooltip="Sólo archivos (.xlsx) Máximo 10MB"
                >
                  <mat-icon>cloud_upload</mat-icon>Seleccionar Archivo
                </button>
                <input
                  #fileInputSecondCtrl
                  type="file"
                  (change)="onFileSelected('StepSecondCtrl', $event)"
                  accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  hidden
                />
                <span *ngIf="fileNameSecondCtrl">{{ fileNameSecondCtrl }}</span>
              </div>
              <div class="file-upload-container field-col-3">
                <button
                  type="button"
                  mat-raised-button
                  color="warn"
                  matTooltip=""
                  (click)="save('StepSecondCtrl')"
                  [disabled]="isCompletedSecondCtrl"
                >
                  <mat-icon>done_outline</mat-icon>Validar Archivo
                </button>
              </div>
            </div>
            <div class="table-container">
              <div
                class="table-wrapper custom-table"
                *ngIf="isCompletedSecondCtrl"
              >
                <table
                  mat-table
                  [dataSource]="dataSourceSecondCtrl"
                  class="mat-elevation-z8 large-table"
                >
                  <ng-container matColumnDef="fileName">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      Nombre del Archivo
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.fileName }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalProcesados">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      N° Filas Correctas
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <span
                        class="bg-success text-white rounded font-10 p-l-5 p-r-5"
                        >&nbsp;&nbsp;&nbsp;{{
                          element.totalProcesados
                        }}&nbsp;&nbsp;&nbsp;</span
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalObservados">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      N° Filas Observadas
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <span
                        class="bg-warning text-white rounded font-10 p-l-5 p-r-5"
                        >&nbsp;&nbsp;&nbsp;{{
                          element.totalObservados
                        }}&nbsp;&nbsp;&nbsp;</span
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="accion">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      Acción
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <button
                        type="button"
                        mat-icon-button
                        color="info"
                        matTooltip="Descargar observaciones."
                        (click)="navegarDownload('StepSecondCtrl')"
                        *ngIf="element.totalObservados > 0"
                      >
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr class="mat-row" *matNoDataRow>
                    <td
                      class="mat-cell no-data-cell"
                      colspan="6"
                      style="height: 50px"
                    >
                      No hay ningún resumen.
                    </td>
                  </tr>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsDetail"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsDetail"
                  ></tr>
                </table>
              </div>
            </div>
            <div class="form-grid">
              <div class="field-col-12">
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  matTooltip="Continuar con la siguiente etapa"
                  [disabled]="!isCompletedSecondCtrl"
                  matStepperNext
                >
                  <mat-icon>arrow_downward</mat-icon>Siguiente
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdformgroup">
          <form [formGroup]="thirdformgroup">
            <ng-template matStepLabel>Etapa: Carga de Marcaciones</ng-template>
            <div class="form-grid">
              <div class="file-upload-container field-col-9">
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="fileInputThirdCtrl.click()"
                  matTooltip="Sólo archivos (.xlsx) Máximo 10MB"
                >
                  <mat-icon>cloud_upload</mat-icon>Seleccionar Archivo
                </button>
                <input
                  #fileInputThirdCtrl
                  type="file"
                  (change)="onFileSelected('StepThirdCtrl', $event)"
                  accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  hidden
                />
                <span *ngIf="fileNameThirdCtrl">{{ fileNameThirdCtrl }}</span>
              </div>
              <div class="file-upload-container field-col-3">
                <button
                  type="button"
                  mat-raised-button
                  color="warn"
                  matTooltip=""
                  (click)="save('StepThirdCtrl')"
                  [disabled]="isCompletedThirdCtrl"
                >
                  <mat-icon>done_outline</mat-icon>Validar Archivo
                </button>
              </div>
            </div>
            <div class="table-container">
              <div
                class="table-wrapper custom-table"
                *ngIf="isCompletedThirdCtrl"
              >
                <table
                  mat-table
                  [dataSource]="dataSourceThirdCtrl"
                  class="mat-elevation-z8 large-table"
                >
                  <ng-container matColumnDef="fileName">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      Nombre del Archivo
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.fileName }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalProcesados">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      N° Filas Correctas
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <span
                        class="bg-success text-white rounded font-10 p-l-5 p-r-5"
                        >&nbsp;&nbsp;&nbsp;{{
                          element.totalProcesados
                        }}&nbsp;&nbsp;&nbsp;</span
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalObservados">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      N° Filas Observadas
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <span
                        class="bg-warning text-white rounded font-10 p-l-5 p-r-5"
                        >&nbsp;&nbsp;&nbsp;{{
                          element.totalObservados
                        }}&nbsp;&nbsp;&nbsp;</span
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="accion">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      Acción
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <button
                        type="button"
                        mat-icon-button
                        color="info"
                        matTooltip="Descargar observaciones."
                        (click)="navegarDownload('StepThirdCtrl')"
                        *ngIf="element.totalObservados > 0"
                      >
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr class="mat-row" *matNoDataRow>
                    <td
                      class="mat-cell no-data-cell"
                      colspan="6"
                      style="height: 50px"
                    >
                      No hay ningún resumen.
                    </td>
                  </tr>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsDetail"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsDetail"
                  ></tr>
                </table>
              </div>
            </div>
            <div class="form-grid">
              <div class="field-col-12">
                <button
                  mat-button
                  matStepperPrevious
                  matTooltip="Volver a la etapa anterior"
                >
                  <mat-icon>arrow_upward</mat-icon>Atrás
                </button>
                &nbsp;
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  matTooltip="Continuar con la siguiente etapa"
                  [disabled]="!isCompletedThirdCtrl"
                  matStepperNext
                >
                  <mat-icon>arrow_downward</mat-icon>Siguiente
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step
          [stepControl]="fourthformgroup"
          [optional]="isOptionalFourthCtrl"
        >
          <form [formGroup]="fourthformgroup">
            <ng-template matStepLabel>Etapa: Carga de Horas Extras</ng-template>
            <div class="form-grid">
              <div class="file-upload-container field-col-9">
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="fileInputFourthCtrl.click()"
                  matTooltip="Sólo archivos (.xlsx) Máximo 10MB"
                >
                  <mat-icon>cloud_upload</mat-icon>Seleccionar Archivo
                </button>
                <input
                  #fileInputFourthCtrl
                  type="file"
                  (change)="onFileSelected('StepFourthCtrl', $event)"
                  accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  hidden
                />
                <span *ngIf="fileNameFourthCtrl">{{ fileNameFourthCtrl }}</span>
              </div>
              <div class="file-upload-container field-col-3">
                <button
                  type="button"
                  mat-raised-button
                  color="warn"
                  matTooltip=""
                  (click)="save('StepFourthCtrl')"
                  [disabled]="isCompletedFourthCtrl"
                >
                  <mat-icon>done_outline</mat-icon>Validar Archivo
                </button>
              </div>
              <div class="field-col-12">
                <mat-checkbox
                  formControlName="fourthCtrlAux"
                  (change)="onCheckboxChange('StepFourthCtrl', $event)"
                  >Realizar carga de archivo</mat-checkbox
                >
              </div>
            </div>
            <div class="table-container">
              <div
                class="table-wrapper custom-table"
                *ngIf="isCompletedFourthCtrl && !isOptionalFourthCtrl"
              >
                <table
                  mat-table
                  [dataSource]="dataSourceFourthCtrl"
                  class="mat-elevation-z8 large-table"
                >
                  <ng-container matColumnDef="fileName">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      Nombre del Archivo
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.fileName }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalProcesados">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      N° Filas Correctas
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <span
                        class="bg-success text-white rounded font-10 p-l-5 p-r-5"
                        >&nbsp;&nbsp;&nbsp;{{
                          element.totalProcesados
                        }}&nbsp;&nbsp;&nbsp;</span
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalObservados">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      N° Filas Observadas
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <span
                        class="bg-warning text-white rounded font-10 p-l-5 p-r-5"
                        >&nbsp;&nbsp;&nbsp;{{
                          element.totalObservados
                        }}&nbsp;&nbsp;&nbsp;</span
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="accion">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      Acción
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <button
                        type="button"
                        mat-icon-button
                        color="info"
                        matTooltip="Descargar observaciones."
                        (click)="navegarDownload('StepFourthCtrl')"
                        *ngIf="element.totalObservados > 0"
                      >
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr class="mat-row" *matNoDataRow>
                    <td
                      class="mat-cell no-data-cell"
                      colspan="6"
                      style="height: 50px"
                    >
                      No hay ningún resumen.
                    </td>
                  </tr>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsDetail"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsDetail"
                  ></tr>
                </table>
              </div>
            </div>
            <div class="form-grid">
              <div class="field-col-12">
                <button
                  mat-button
                  matStepperPrevious
                  matTooltip="Volver a la etapa anterior"
                >
                  <mat-icon>arrow_upward</mat-icon>Atrás
                </button>
                &nbsp;
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  matTooltip="Continuar con la siguiente etapa"
                  [disabled]="!isCompletedFourthCtrl"
                  matStepperNext
                >
                  <mat-icon>arrow_downward</mat-icon>Siguiente
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step
          [stepControl]="fifthformgroup"
          [optional]="isOptionalFifthCtrl"
        >
          <form [formGroup]="fifthformgroup">
            <ng-template matStepLabel>Etapa: Carga de Absentismos</ng-template>
            <div class="form-grid">
              <div class="file-upload-container field-col-9">
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="fileInputFifthCtrl.click()"
                  matTooltip="Sólo archivos (.xlsx) Máximo 10MB"
                >
                  <mat-icon>cloud_upload</mat-icon>Seleccionar Archivo
                </button>
                <input
                  #fileInputFifthCtrl
                  type="file"
                  (change)="onFileSelected('StepFifthCtrl', $event)"
                  accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  hidden
                />
                <span *ngIf="fileNameFifthCtrl">{{ fileNameFifthCtrl }}</span>
              </div>
              <div class="file-upload-container field-col-3">
                <button
                  type="button"
                  mat-raised-button
                  color="warn"
                  matTooltip=""
                  (click)="save('StepFifthCtrl')"
                  [disabled]="isCompletedFifthCtrl"
                >
                  <mat-icon>done_outline</mat-icon>Validar Archivo
                </button>
              </div>
              <div class="field-col-12">
                <mat-checkbox
                  formControlName="fifthCtrlAux"
                  (change)="onCheckboxChange('StepFifthCtrl', $event)"
                  >Realizar carga de archivo</mat-checkbox
                >
              </div>
            </div>
            <div class="table-container">
              <div
                class="table-wrapper custom-table"
                *ngIf="isCompletedFifthCtrl && !isOptionalFifthCtrl"
              >
                <table
                  mat-table
                  [dataSource]="dataSourceFifthCtrl"
                  class="mat-elevation-z8 large-table"
                >
                  <ng-container matColumnDef="fileName">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      Nombre del Archivo
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.fileName }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalProcesados">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      N° Filas Correctas
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <span
                        class="bg-success text-white rounded font-10 p-l-5 p-r-5"
                        >&nbsp;&nbsp;&nbsp;{{
                          element.totalProcesados
                        }}&nbsp;&nbsp;&nbsp;</span
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalObservados">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      N° Filas Observadas
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <span
                        class="bg-warning text-white rounded font-10 p-l-5 p-r-5"
                        >&nbsp;&nbsp;&nbsp;{{
                          element.totalObservados
                        }}&nbsp;&nbsp;&nbsp;</span
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="accion">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="mat-header-cell"
                    >
                      Acción
                    </th>
                    <td mat-cell class="center" *matCellDef="let element">
                      <button
                        type="button"
                        mat-icon-button
                        color="info"
                        matTooltip="Descargar observaciones."
                        (click)="navegarDownload('StepFifthCtrl')"
                        *ngIf="element.totalObservados > 0"
                      >
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr class="mat-row" *matNoDataRow>
                    <td
                      class="mat-cell no-data-cell"
                      colspan="6"
                      style="height: 50px"
                    >
                      No hay ningún resumen.
                    </td>
                  </tr>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsDetail"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsDetail"
                  ></tr>
                </table>
              </div>
            </div>
            <div class="form-grid">
              <div class="field-col-12">
                <button
                  mat-button
                  matStepperPrevious
                  matTooltip="Volver a la etapa anterior"
                >
                  <mat-icon>arrow_upward</mat-icon>Atrás
                </button>
                &nbsp;
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  matTooltip="Continuar con la siguiente etapa"
                  [disabled]="!isCompletedFifthCtrl"
                  matStepperNext
                >
                  <mat-icon>arrow_downward</mat-icon>Siguiente
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Resumen</ng-template>
          <div class="form-grid">
            <div class="field-col-12">
              <button
                mat-button
                matStepperPrevious
                matTooltip="Volver a la etapa anterior"
              >
                <mat-icon>arrow_upward</mat-icon>Atrás
              </button>
              &nbsp;
              <button
                type="button"
                mat-raised-button
                color="primary"
                matTooltip="Procesar el cruce de horas"
                (click)="saveProcess()"
              >
                <mat-icon>settings</mat-icon>Procesar
              </button>
            </div>
          </div>
          <div class="table-container">
            <div class="table-wrapper custom-table">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8 large-table"
              >
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                    No.
                  </th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{ i + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="step">
                  <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                    Etapa
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.step }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="fileName">
                  <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                    Nombre del Archivo
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.fileName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="totalProcesados">
                  <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                    N° Filas Correctas
                  </th>
                  <td mat-cell class="center" *matCellDef="let element">
                    <span
                      class="bg-success text-white rounded font-10 p-l-5 p-r-5"
                      >&nbsp;&nbsp;&nbsp;{{
                        element.totalProcesados
                      }}&nbsp;&nbsp;&nbsp;</span
                    >
                  </td>
                </ng-container>
                <ng-container matColumnDef="totalObservados">
                  <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                    N° Filas Observadas
                  </th>
                  <td mat-cell class="center" *matCellDef="let element">
                    <span
                      class="bg-warning text-white rounded font-10 p-l-5 p-r-5"
                      >&nbsp;&nbsp;&nbsp;{{
                        element.totalObservados
                      }}&nbsp;&nbsp;&nbsp;</span
                    >
                  </td>
                </ng-container>
                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                    Acción
                  </th>
                  <td mat-cell class="center" *matCellDef="let element">
                    <button
                      type="button"
                      mat-icon-button
                      color="info"
                      matTooltip="Descargar observaciones."
                      (click)="navegarDownload(element.step_code)"
                      *ngIf="element.totalObservados > 0"
                    >
                      <mat-icon>cloud_download</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr class="mat-row" *matNoDataRow>
                  <td
                    class="mat-cell no-data-cell"
                    colspan="6"
                    style="height: 50px"
                  >
                    No hay ningún resumen.
                  </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>
