<!-- <form [formGroup]="form" (submit)="save()"> -->
<div class="example-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Tolerancia</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <fieldset>
        <legend>Parámetros para Hora Extra</legend>
        <div class="form-grid">
          @if(existeParametroHoraExtraToleranciaInicioDesde){
          <mat-form-field
            appearance="fill"
            class="field-col-8"
            hintLabel="Máximo 5 dígitos"
          >
            <mat-label>{{
              descripcionParametroHoraExtraToleranciaInicioDesde
            }}</mat-label>
            <input
              #inputParametroHoraExtraToleranciaInicioDesde
              matInput
              [(ngModel)]="valorParametroHoraExtraToleranciaInicioDesde"
              (input)="inputOnlyNumber($event)"
              maxlength="5"
            />
            <mat-hint align="end">
              {{
                inputParametroHoraExtraToleranciaInicioDesde.value?.length || 0
              }}/5
            </mat-hint>
          </mat-form-field>
          <div appearance="fill" class="field-col-4">
            <button
              type="button"
              mat-icon-button
              color="primary"
              matTooltip="Guardar parámetro."
              (click)="
                save(
                  idParametroHoraExtraToleranciaInicioDesde,
                  valorParametroHoraExtraToleranciaInicioDesde
                )
              "
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
          } @if(existeParametroHoraExtraToleranciaInicioHasta){
          <mat-form-field
            appearance="fill"
            class="field-col-8"
            hintLabel="Máximo 5 dígitos"
          >
            <mat-label>{{
              descripcionParametroHoraExtraToleranciaInicioHasta
            }}</mat-label>
            <input
              #inputParametroHoraExtraToleranciaInicioHasta
              matInput
              [(ngModel)]="valorParametroHoraExtraToleranciaInicioHasta"
              (input)="inputOnlyNumber($event)"
              maxlength="5"
            />
            <mat-hint align="end">
              {{
                inputParametroHoraExtraToleranciaInicioHasta.value?.length || 0
              }}/5
            </mat-hint>
          </mat-form-field>
          <div appearance="fill" class="field-col-4">
            <button
              type="button"
              mat-icon-button
              color="primary"
              matTooltip="Guardar parámetro."
              (click)="
                save(
                  idParametroHoraExtraToleranciaInicioHasta,
                  valorParametroHoraExtraToleranciaInicioHasta
                )
              "
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
          } @if(existeParametroHoraExtraToleranciaFinDesde){
          <mat-form-field
            appearance="fill"
            class="field-col-8"
            hintLabel="Máximo 5 dígitos"
          >
            <mat-label>{{
              descripcionParametroHoraExtraToleranciaFinDesde
            }}</mat-label>
            <input
              #inputParametroHoraExtraToleranciaFinDesde
              matInput
              [(ngModel)]="valorParametroHoraExtraToleranciaFinDesde"
              (input)="inputOnlyNumber($event)"
              maxlength="5"
            />
            <mat-hint align="end">
              {{
                inputParametroHoraExtraToleranciaFinDesde.value?.length || 0
              }}/5
            </mat-hint>
          </mat-form-field>
          <div appearance="fill" class="field-col-4">
            <button
              type="button"
              mat-icon-button
              color="primary"
              matTooltip="Guardar parámetro."
              (click)="
                save(
                  idParametroHoraExtraToleranciaFinDesde,
                  valorParametroHoraExtraToleranciaFinDesde
                )
              "
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
          } @if(existeParametroHoraExtraToleranciaFinHasta){
          <mat-form-field
            appearance="fill"
            class="field-col-8"
            hintLabel="Máximo 5 dígitos"
          >
            <mat-label>{{
              descripcionParametroHoraExtraToleranciaFinHasta
            }}</mat-label>
            <input
              #inputParametroHoraExtraToleranciaFinHasta
              matInput
              [(ngModel)]="valorParametroHoraExtraToleranciaFinHasta"
              (input)="inputOnlyNumber($event)"
              maxlength="5"
            />
            <mat-hint align="end">
              {{
                inputParametroHoraExtraToleranciaFinHasta.value?.length || 0
              }}/5
            </mat-hint>
          </mat-form-field>
          <div appearance="fill" class="field-col-4">
            <button
              type="button"
              mat-icon-button
              color="primary"
              matTooltip="Guardar parámetro."
              (click)="
                save(
                  idParametroHoraExtraToleranciaFinHasta,
                  valorParametroHoraExtraToleranciaFinHasta
                )
              "
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
          }
        </div>
      </fieldset>
      <fieldset>
        <legend>Parámetros para Absentismo</legend>
        <div class="form-grid">
          @if(existeParametroAbsentismoToleranciaInicioDesde){
          <mat-form-field
            appearance="fill"
            class="field-col-8"
            hintLabel="Máximo 5 dígitos"
          >
            <mat-label>{{
              descripcionParametroAbsentismoToleranciaInicioDesde
            }}</mat-label>
            <input
              #inputParametroAbsentismoToleranciaInicioDesde
              matInput
              [(ngModel)]="valorParametroAbsentismoToleranciaInicioDesde"
              (input)="inputOnlyNumber($event)"
              maxlength="5"
            />
            <mat-hint align="end">
              {{
                inputParametroAbsentismoToleranciaInicioDesde.value?.length ||
                  0
              }}/5
            </mat-hint>
          </mat-form-field>
          <div appearance="fill" class="field-col-4">
            <button
              type="button"
              mat-icon-button
              color="primary"
              matTooltip="Guardar parámetro."
              (click)="
                save(
                  idParametroAbsentismoToleranciaInicioDesde,
                  valorParametroAbsentismoToleranciaInicioDesde
                )
              "
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
          } @if(existeParametroAbsentismoToleranciaInicioHasta){
          <mat-form-field
            appearance="fill"
            class="field-col-8"
            hintLabel="Máximo 5 dígitos"
          >
            <mat-label>{{
              descripcionParametroAbsentismoToleranciaInicioHasta
            }}</mat-label>
            <input
              #inputParametroAbsentismoToleranciaInicioHasta
              matInput
              [(ngModel)]="valorParametroAbsentismoToleranciaInicioHasta"
              (input)="inputOnlyNumber($event)"
              maxlength="5"
            />
            <mat-hint align="end">
              {{
                inputParametroAbsentismoToleranciaInicioHasta.value?.length ||
                  0
              }}/5
            </mat-hint>
          </mat-form-field>
          <div appearance="fill" class="field-col-4">
            <button
              type="button"
              mat-icon-button
              color="primary"
              matTooltip="Guardar parámetro."
              (click)="
                save(
                  idParametroAbsentismoToleranciaInicioHasta,
                  valorParametroAbsentismoToleranciaInicioHasta
                )
              "
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
          } @if(existeParametroAbsentismoToleranciaFinDesde){
          <mat-form-field
            appearance="fill"
            class="field-col-8"
            hintLabel="Máximo 5 dígitos"
          >
            <mat-label>{{
              descripcionParametroAbsentismoToleranciaFinDesde
            }}</mat-label>
            <input
              #inputParametroAbsentismoToleranciaFinDesde
              matInput
              [(ngModel)]="valorParametroAbsentismoToleranciaFinDesde"
              (input)="inputOnlyNumber($event)"
              maxlength="5"
            />
            <mat-hint align="end">
              {{
                inputParametroAbsentismoToleranciaFinDesde.value?.length || 0
              }}/5
            </mat-hint>
          </mat-form-field>
          <div appearance="fill" class="field-col-4">
            <button
              type="button"
              mat-icon-button
              color="primary"
              matTooltip="Guardar parámetro."
              (click)="
                save(
                  idParametroAbsentismoToleranciaFinDesde,
                  valorParametroAbsentismoToleranciaFinDesde
                )
              "
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
          } @if(existeParametroAbsentismoToleranciaFinHasta){
          <mat-form-field
            appearance="fill"
            class="field-col-8"
            hintLabel="Máximo 5 dígitos"
          >
            <mat-label>{{
              descripcionParametroAbsentismoToleranciaFinHasta
            }}</mat-label>
            <input
              #inputParametroAbsentismoToleranciaFinHasta
              matInput
              [(ngModel)]="valorParametroAbsentismoToleranciaFinHasta"
              (input)="inputOnlyNumber($event)"
              maxlength="5"
            />
            <mat-hint align="end">
              {{
                inputParametroAbsentismoToleranciaFinHasta.value?.length || 0
              }}/5
            </mat-hint>
          </mat-form-field>
          <div appearance="fill" class="field-col-4">
            <button
              type="button"
              mat-icon-button
              color="primary"
              matTooltip="Guardar parámetro."
              (click)="
                save(
                  idParametroAbsentismoToleranciaFinHasta,
                  valorParametroAbsentismoToleranciaFinHasta
                )
              "
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
          }
        </div>
      </fieldset>
      <!-- <div style="text-align: right; margin-top: 10px">
            <button
              mat-button
              mat-raised-button
              type="button"
              color="primary"
              matTooltip="Cancelar registro."
              style="margin-right: 15px"
              (click)="cancel()"
            >
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>
            <button
              mat-button
              mat-raised-button
              type="submit"
              color="warn"
              matTooltip="Guardar registro."
            >
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div> -->
    </mat-card-content>
  </mat-card>
</div>
<!-- </form> -->
