<div class="example-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Resetear Clave</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-grid">
        <mat-form-field
          appearance="fill"
          class="field-col-12"
          hintLabel="Máximo 20 caracteres"
        >
          <mat-label>Clave</mat-label>
          <input
            #inputClave="ngModel"
            matInput
            [(ngModel)]="clave"
            maxlength="20"
            required
          />
          <mat-hint align="end">
            {{ inputClave.value?.length || 0 }}/20
          </mat-hint>
          <mat-error *ngIf="inputClave.invalid && inputClave.touched">
            La clave es obligatoria.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">
    <mat-icon>cancel</mat-icon>
    Cancelar
  </button>
  <button mat-raised-button color="primary" (click)="continue()">
    <mat-icon>save</mat-icon>
    Guardar
  </button>
</mat-dialog-actions>
